<div  data-aos="fade-up" class="footer">
    <div class="container bottom-menu">
        <div class="d-flex justify-content-between py-4">
            <div class="d-flex gap-3">
                <div>
                    <a href="index.html"><img src="/assets/images/LOGO-icon.png" class="mb-3" style="width: 80px;" alt="暖食坊水餃舖"></a>
                </div>
                <div>
                    <div class="tel mb-1">
                        <a href="tel:+0800-000-00" class="mail link-secondary align-middle"><span class="material-symbols-outlined  align-middle">call</span>0800-000-00</a>
                    </div>
                    <div class="mail mb-3">
                        <a href="mailto:glasses@business.co" class="mail link-secondary align-middle"><span class="material-symbols-outlined align-middle">mail</span>glasses@business.co</a>
                    </div>
                    <div>
                        <ul class="list-unstyled d-flex gap-2">
                            <li><a href="https://www.facebook.com/" target="_blank"><img src="/assets/images/icon_FB.png" style="width: 40px;" alt="fb"></a></li>
                            <li><a href="https://www.instagram.com" target="_blank"><img src="/assets/images/icon_IG.png" style="width: 40px;" alt="ig"></a></li>
                            <li><a href="https://line.me/zh-hant/" target="_blank"><img src="/assets/images/icon_LINE.png" style="width: 40px;" alt="ine"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            
            <div class="bottom-menu d-flex gap-6">
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="about.html" class="link-pimary">關於我們</a></li>
                    <li class="mb-2"><a href="#" class="link-pimary">最新消息</a></li>
                    <li class="mb-2"><a href="#" class="link-pimary">聯絡我們</a></li>
                    <li><a href="#" class="link-pimary">文章分享</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="product-list.html" class="link-pimary">購買商品</a></li>
                    <li class="mb-2"><a href="order-list.html" class="link-pimary">訂單查詢</a></li>
                    <li class="mb-2"><a href="#" class="link-pimary">會員專區</a></li>
                    <li><a href="faq.html" class="link-pimary">常見問題</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="link-pimary">購物說明</a></li>
                    <li><a href="#" class="link-pimary">追蹤清單</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="link-pimary">免責聲明</a></li>
                    <li class="mb-2"><a href="#" class="link-pimary">使用條款</a></li>
                    <li><a href="#" class="link-pimary">隱私權保護政策</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright text-center bg-primary text-white mb-0 py-3">
        <small class="mb-0">Copyright © 2023 All rights reserved. <br>本網站僅作為個人作品使用，無商業用途。</small>
    </div>
</div>