
<!-- navbar -->

<div class="container-sm container-fluid bg-white">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="header py-2">
            <div class="logo">
                <a href="index.html">
                    <img src="/assets/images/LOGO.png" alt="暖食坊水餃舖">
                </a>
            </div>
        </h1>
        <div class="navbar-web">
            <ul class="list-unstyled d-flex gap-4 mb-0">
                <li class="nav-item"><a href="#" class="py-3">註冊會員</a></li>
                <li class="nav-item"><a href="#" class="py-3">會員登入</a></li>
                <li class="nav-item"><a href="order-list.html" class="py-3">購物車</a></li>
            </ul>
        </div>
        <div class="navbar-mobile">
        <div class="navbar-mobile btn-group">
            <button type="button" class="btn btn-white border-0 align-middle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end rounded-0">
              <li><a href="" class="dropdown-item" type="button">註冊會員</a></li>
              <li><a href="" class="dropdown-item" type="button">會員登入</a></li>
              <li><a href="order-list.html" class="dropdown-item" type="button">購物車</a></li>
            </ul>
          </div>
        </div>
    </div>
</div>

<!-- menu -->
<div class="menu container-fluid">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="menu list-unstyled d-flex gap-4 mb-0">
                <li class="menu-item py-4"><a href="index.html" class="link-secondary py-4">回首頁</a></li>
                <li class="menu-item py-4"><a href="about.html" class="link-secondary py-4">關於我們</a></li>
                <li class="menu-item py-4"><a href="product-list.html" class="link-secondary py-4">購買商品</a></li>
                <li class="menu-item py-4"><a href="latest-news.html" class="link-secondary py-4">最新消息</a></li>
                <li class="menu-item py-4"><a href="faq.html" class="link-secondary py-4">常見問題FAQ</a></li>
                <li class="menu-item py-4"><a href="contact.html" class="link-secondary py-4">聯絡我們</a></li>
            </ul>
            <form class="search">
                <input class="search-bar border-0 rounded-pill" type="text" name="search" id="search" placeholder=" 搜尋商品">
                <button class="search-btn border-0 bg-white rounded-circle"><span class="material-symbols-outlined">search</span></button>
            </form>
       </div>
    </div>
</div>