.border-top-left-radius{
  border-top-left-radius: 32px;
}

.border-top-right-radius{
  border-top-right-radius: 32px;
}

.border-bottom-right-radius{
  border-bottom-right-radius: 32px;
}

.border-bottom-left-radius{
  border-bottom-left-radius: 32px;
}


.about-pic{
  width: 40%;
  @include pad{
    width: 100%;
  }
}

.about-text{
  width: 40%;
  @include pad{
    width: 100%;
  }
}
