<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />      <link rel="icon" href="/assets/images/LOGO-icon.png" type="image/x-icon">
    <title>聯絡我們</title>
  </head>

  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- Banner -->
    <div class="mb-5">
      <picture>
        <source srcset="" type="images">
        <img src="../assets/images/bn-about-us.jpg" class="img-fluid" alt="Banner">
      </picture>
    </div>

    <!-- content -->
    <div data-aos="fade-up" class="text-center mb-5">
      <h3 class="mb-1">聯絡我們</h3>
      <h5 class="text-primary">CONTACT US</h5>
    </div>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
